# Database Configuration
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/mydatabase

# Email Configuration (SMTP)
MAIL_HOST=live.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_smtp_username
MAIL_KEY=your_smtp_password

# Website Configuration
DOMAIN=http://localhost:3000

TOKEN_SECRET="qwerty"